*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* homepage/about page/contact page */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('image/img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
/* navigation bar  */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #32a852;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffffff;
}
/* about page */
.text-box-2{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-2 h1{
    font-size: 62px;
}
.text-box-2 p{
    display: flex;
    margin: 10px 0 40px;
    font-size: 18px;
    color: #ffffff;
}
/* for my images and paragraphs */
.row {
  width: 100%;
  overflow: hidden;
  padding: 40px 20px;
}
/* is to move the images and paragraph in the right or left  */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.column img {
  width: 100%;
  height: auto;
  display: block;
}

.row2 {
  width: 100%;
  overflow: hidden;
  padding: 40px 20px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.column2 img {
  width: 100%;
  height: auto;
  display: block;
}
.size{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* contact page */
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(image/img.png) no-repeat center/cover;
}
.container form{
    padding: 40px;
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.container form input::placeholder{
    color: #ddd;
}
.container form #lastName,
.container form #mobile {
    margin-left: 20px;
}
.container form h4{
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
}
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-height: 80px;
    max-height: 80px;
    min-width: 600px;
    max-width: 600px;
}
textarea::-webkit-scrollbar{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0,0.713);
}
.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 150px;
    padding: 10px 0;
    align-self: center;
    transition: 0.3s;
    cursor: pointer;
}
.container form #button:hover{
    opacity: 0.7;
}
